.gallery {
  margin: 60px 0;
  overflow: hidden;
  .container {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .crads__container {
    background-image: url("https://images.unsplash.com/photo-1726065809961-bbfd67737399?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w2NTg2NDF8MHwxfHJhbmRvbXx8fHx8fHx8fDE3Mjc2MTIyNjV8&ixlib=rb-4.0.3&q=80&w=400");
    width: 100%;
    height: 252px;
    object-fit: cover;
    background-position: center;

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
